<div class="item-forms-container">
    <div class="tabs">
        <div class="tab-indicator"
             [style.transform]="'translateX(' + (activeTabIndex() * 100) + '%)'">
        </div>

        @for (tab of tabs; track tab.id) {
            <button
                class="tab"
                [class.active]="activeTab() === tab.id"
                [class.disabled]="tab.id === 'update' && !selectedItem()"
                (click)="onTabClick(tab.id)">
                {{ tab.label }}
            </button>
        }
    </div>

    <div class="forms">
        <create-workwear-form />
    </div>
</div>